*{
    transition: 0.5ms ease-in;
}
a{
    cursor: pointer;
}
::-webkit-scrollbar{
    display: none;
}
.min-page-height{
    min-height: calc(90vh - 0.5rem - 45px);
}
.login-page-heading{
    font-size: 6.5rem;
    line-height: 0.3;
    user-select: none;
}
.login-page-subheading{
    font-size: 3rem;
    user-select: none;
}
.note-item-options{
    border: none;
    color: var(--bs-link-color);
    background: none;
}
.note-item-options:hover{
    color: var(--bs-link-hover-color);
}